# The following file types will be ignored from git tracking

*.o
*.exe
*.out

src/
*.pdf
*.user
*.user.*

*.stash
*Makefile*
*.app/
build*/
*.stash
*Makefile*
*.app/
*.pro
*.user
*.png
*build*/


string/string
stream/stream
stream/mydata
size/size
qstd/qstd
Dialog/
libs/
